.navitem {
list-style-type:none;
display:inline;
margin-right:.3em;
padding:2px 5px;
}
    
#navmenu {
text-align:center;
background-color:#4EE2EC;
color:#c55e3b;
}
    
h1 {
text-align:center;
font-family: 'minecraft', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}


a {
text-decoration:none
}

p {
text-align:center;
color: rgb(228, 147, 203);
font-family: 'minecraft', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}

body {
margin:auto;
background:radial-gradient(circle at 100% 100%, rgba(235, 68, 95, 0.856), rgba(209, 90, 110, 0.185));
} 