@import "tailwindcss";

:root {
  --background: 250 250 250;
  --foreground: 10 10 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 250 250 250;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
